@model ECommerce.Application.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center" style="width: 100%">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <img src="@Html.DisplayFor(model => model.ImageUrl)" style="max-height: 500px; object-fit:contain;">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    @Html.DisplayNameFor(model => model.Description)
                                </div>
                                <div class="col-8">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    @Html.DisplayNameFor(model => model.Category.Name)
                                </div>
                                <div class="col-8">
                                    @Html.DisplayFor(model => model.Category.Name)
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-4">
                                    @Html.DisplayNameFor(model => model.Price)
                                </div>
                                <div class="col-8">
                                    @Html.DisplayFor(model => model.Price)
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    @if (Model.Stock == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            Item is out of stock! Please check again later.
                        </div>
                    }
                    else
                    {
                        <form action="#" method="post" class="form-inline">
                            <label for="itemNumber">Amount</label>
                            <select name="itemNumber" id="itemNumber" class="custom-select">
                                @for (int i = 0; i <= Model.Stock; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                    }
                </div>       
            </div>

            <br>

            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-2">
                        <a href="/Products/Disable?id=@Model.Id" class="btn btn-info">Disable</a>
                    </div>
                    <div class="col-2">
                        <a href="/Products/Delete?id=@Model.Id" class="btn btn-danger">Delete</a>
                    </div>
                }
            </div>

            <br>

            <div class="row">
                <div class="col-2">
                    <a href="/Products/Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>