@model IEnumerable<ECommerce.Application.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <h1>Products Catalogue</h1>
    <br>
    @if (Model.Count() != 0)
    {

        @Html.Partial("SearchPartial")


        <br />
        <hr>
        <br>
        @Html.Partial("ProductViewPartial")
    }
    else
    {
        <br>
        <h2>No products currently on sale. Please try again!</h2>
    }
</div>
@*
    TODO PAGINATION
    <p>
    @Html.Raw(ViewBag.PageCount)
</p>
<p>
    @Html.Raw(ViewBag.CurrentPageIndex)
    @Html.Raw(++ViewBag.CurrentPageIndex)
</p>
@ViewBag.PageCount
@if (ViewBag.CurrentPageIndex != 0)
{
    <form action="/Products/Index" method="post">
        <input type="hidden" name="currentPage" value="@(--ViewBag.CurrentPageIndex)">
        <button type="submit" class="btn btn-primary">Previous</button>
    </form>
}
<form action="/Products/Index" method="post">
    <input type="hidden" name="currentPage" value="@(++ViewBag.CurrentPageIndex)">
    <button type="submit" class="btn btn-primary">Next</button>
</form>*@